.text-input.error  {
	-fx-text-box-border: red;
	-fx-focus-color:red;
}
.text-input.normal	 {
	-fx-text-box-border: #4bf847;
		-fx-focus-color: #4bf847;
}
.pane {
	-fx-background-image: url("startBillede.png");
}

.woodBackground {
	-fx-background-image: url("loginBox.png");
}

.textfieldBackground{
	-fx-background-image: url("textfieldBackground.png");
}
.list-cell:even { -fx-background-image: url("listcell.png") }
.list-cell:odd { -fx-background-image: url("listcell.png")}
